{% load static %}
<div class="custombox clearfix">
    <h4 class="small-title">3 کامنت</h4>
    <div class="row">
        <div class="col-lg-12">
            <div class="comments-list">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="{% static 'upload/author.jpg' %}" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading user_name">سارا زمانی <small>5 روز قبل</small></h4>
                        <p>ورزش غرفه عکس استامپتاون کیف حمل و نقل بنکسی، دسته کوچک فریگان اما. آبجو کرافت، آموزش  غرفه عکس و چیپس کلم پیچ 8 بیتی بخشی از میان وعده های  عمیق  خواهد بود. به نحوی من انتخاب خواهم شد،  مانند  در سوآگ آماده اومامی. سلفی کیک استارتر آیفون، نوشیدن سرکه جین.</p>
                        <a href="#" class="btn btn-primary btn-sm">پاسخ</a>
                    </div>
                </div>
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="{% static 'upload/author_01.jpg' %}" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">

                        <h4 class="media-heading user_name">داریوش شهریار <small>5 روز قبل</small></h4>

                        <p>نوشیدن سرکه . سلفی‌های کلیشه‌ای لومو بیودیزل نوترا. شورت فیکسی نتیجه فلکسیتریار چهار لوکو تمپور دویس قهوه تک اصل. بنکسی، نخبه کوچک.</p>

                        <a href="#" class="btn btn-primary btn-sm">پاسخ</a>
                    </div>
                </div>
                <div class="media last-child">
                    <a class="media-left" href="#">
                        <img src="{% static 'upload/author_02.jpg' %}" alt="" class="rounded-circle">
                    </a>
                    <div class="media-body">

                        <h4 class="media-heading user_name">اردشیر بابک <small>5 روز قبل</small></h4>
                        <p>کیک استارتر  رترو. نوشیدن سرکه . سلفی‌های کلیشه‌ای لومو بیودیزل نوترا. شورت فیکسی نتیجه فلکسیتریار چهار لوکو تمپور دویس قهوه تک اصل. بنکسی، نخبه کوچک.</p>

                        <a href="#" class="btn btn-primary btn-sm">پاسخ</a>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end custom-box -->

<hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">یک پاسخ بگذارید</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form-wrapper">
                                            <input type="text" class="form-control" placeholder="Your name">
                                            <input type="text" class="form-control" placeholder="Email address">
                                            <input type="text" class="form-control" placeholder="Website">
                                            <textarea class="form-control" placeholder="Your comment"></textarea>
                                            <button type="submit" class="btn btn-primary">ارسال نظر</button>
                                        </form>
                                    </div>
                                </div>
                            </div>