{% load static %}
<div class="widget">
    <h2 class="widget-title">پست های محبوب</h2>
    <div class="blog-list-widget">
        <div class="list-group">
            <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="{% static 'upload/tech_blog_08.jpg' %}" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">5 ساختمان زیبا که نیاز دارید.</h5>
                    <small>12 شهریور, 1402</small>
                </div>
            </a>

            <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="{% static 'upload/tech_blog_01.jpg' %}" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">بیایید یک مقدمه برای..</h5>
                    <small>11 شهریور, 1402</small>
                </div>
            </a>

            <a href="tech-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 last-item justify-content-between">
                    <img src="{% static 'upload/tech_blog_03.jpg' %}" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">زیباترین را دیدی..</h5>
                    <small>07 شهریور, 1402</small>
                </div>
            </a>
        </div>
    </div><!-- end blog-list -->
</div><!-- end widget -->